<div class="text-small">
    <div class="border mb-big p-big">
    <h3 class="text-big"><strong> Can We Claim Gift Aid?</strong></h3>
    <p>Please Gift Aid my payments. I understand that by ticking one of the following boxes, I confirm that
        I have paid or will pay an amount of Income tax and/or Capital Gains tax that is at least equal to the amount of
        tax that all charities or Community Amateur Sports Clubs (CASCs) that you donate to will reclaim on your
        gifts for that tax year. I understand that the other taxes such as VAT and Council Tax do not qualify. I
        also understand that GWRT will reclaim 25p of tax on every £1 that you give on or after 6th April 2008.</p>
    <p>Please notify the GWRT if: </p>
    <ul class="list">
        <li>Want to cancel this declaration.</li>
        <li>Change your name or home address.</li>
        <li>No longer pay sufficient tax on your income and/or capital gains.</li>
    </ul>
    <p>If you pay Income tax at the higher or additional rate and want to receive the additional tax relief due to
        you, you must include all your Gift Aid donations on your Self Assessment tax return or ask H.M. Revenue &
        Customs to adjust your tax code.</p>
        <div class="checkbox text-medium">
            <input type="checkbox" [(ngModel)]="declarations.giftAidDecl" id="giftAidDecl">
            <label for="giftAidDecl"><strong>Yes, Please gift aid my payments where applicable.</strong></label>
        </div>
        
<!--     <label class="label" for="country-code">Select</label> -->
   <!--  <div class="select select-fullWidth">
        <select [(ngModel)]="declarations.giftAidDecl" required>
            <option value="true">Yes, please gift aid my payments</option>
            <option value="false">No, I don't wish to gift aid</option>
            <option value="false">Not a UK Tax Payer</option>
        </select>
    </div> -->
</div>
    <div class="border mb-big p-big">
      <h3 class="text-big"><strong>Cornishman</strong></h3>
      <p>Members are entitled to receive a copy of our award winning magazine to their household. Please select how you would like to recieve the Cornishman.</p>

      <div class="select select-fullWidth">
        <select [(ngModel)]="declarations.cornishman">
          <option value="0">Post to UK Address</option>
<!--           <option value="1">Email an e-Cornishman</option> -->
          <option value="2">No thank you, I don't want a copy</option>
        </select>
      </div>
      <p><em>If you live outside the UK and would like a physical copy of The Cornishman posted to you, please contact the membership secretary to arrange. </em></p>
    </div>
      <div class="border  mb-big p-big">
        <h3 class="text-big"><strong>Would You Like To Add A Donation?</strong></h3>
        <p>If you would like to add an additional donation to the trust, please enter the amount here:</p>
        <label for="additionalDonation text-medium"><strong>Enter Additional Donation Amount:</strong></label>
        <div class="input input-fullWidth">
          <input id="additionalDonation" type="number" [(ngModel)]="declarations.additonalDonation" min="0"
                 max="10000" />
        </div>
        <div class="checkbox text-medium">
          <input type="checkbox" id="donatonrenewal"
                 [(ngModel)]="declarations.additonalDonationRepeatOnRenewal"><label for="donatonrenewal">
            <strong>
              Repeat donation
              on auto-renewal? (Direct Debit)
            </strong>
            
          </label>
        </div>
      </div>
      <div class=" border p-big mb-big">
        <h3 class="text-big"><strong>Terms and Conditions</strong></h3>
        <p>
          By applying for membership, all persons named on this application agree to be bound by the rules laid down in
          the Gloucestershire Warwickshire Railway Trust’s (“the Company”) Memorandum and Articles (which are
          available for inspection at Toddington Station) and shall not commit the Company to any unauthorised
          expense. Please allow 28 days for delivery of your membership card(s).
        </p>
        <!--         <p>Please notify the GWRT if: </p>
            <ul class="list">
                <li>Want to cancel this declaration.</li>
                <li>Change your name or home address.</li>
                <li>No longer pay sufficient tax on your income and/or capital gains.</li>
            </ul>
             -->
<!--         <button class="button mb-medium" *ngIf="declarations.termsAccepted === false"
                (click)="declarations.termsAccepted = true">
          Accept Terms
        </button>
        <p *ngIf="declarations.termsAccepted" class="text-success text-medium">
          <i class="fa-solid fa-check"></i> You have
          accepted the terms.
        </p> -->

      </div>
      <p class="text-error" *ngIf="!declarations.termsAccepted">You much accept the terms before proceeding.</p>
      <p class="text-medium"><strong>Total to be taken:</strong> {{ getTotalPayment() | currency : 'GBP' }}. <span class="text-small">(including additional donation of {{ getDonation() | currency: 'GBP' }})</span></p>
    </div>
