<section>
    <div >
        <h1 class="text-big">Payment Methods</h1>
        <p>Please select how you would like to pay for your membership. On selecting a payment method, we'll then send
            you
            to our payment provider to process your payment. </p>

        <table class="table">
            <tbody>
                <tr>
                    <td>
                        <button class="button button--large p-big " (click)="setupDirectDebit()">Select</button>
                    </td>
                    <td>
                        <h3><strong>Direct Debit</strong> - with auto-renewal</h3>
                        <p>
                            This option is the easiest and most convienent way to pay for your membership, and allows
                            for automatic renewal of your membership when the time comes so you never miss out on membership benefits (you can
                            opt out of auto-renewal at any time). It also helps the trust as it keeps our administration
                            costs down.
                        </p>
                        <p>Direct Debit payments are handled by GoCardless. You will need your bank account details, and most banks will require you to authenticate and approve the setting up of direct debit through their online banking service.</p>
                    </td>

                </tr>
                <tr>
                    <td>
                        <button class="button button--large p-big " (click)="setupCardPayment()">Select</button>
                    </td>
                    <td>
                        <h3><strong>Credit/Debit Card</strong> - One-off</h3>
                        <p>
                            Pay for your membership with your credit or debit card. Card payments are securly handled by
                            our payment provider Stripe.
                        </p>
                    </td>

                </tr>
            </tbody>
        </table>
    </div>
