<footer class="footer">
    <div class="container ">
        <div class="row">
            <div class="col-12 col-md-6">
                <p>The Gloucestershire Warwickshire Railway Trust is a registered charity helping to support the Living
                    Museum of the Gloucestershire Warwickshire Steam Railway and associated operations. Please see <a href="https://www.gwrt.org.uk/knowledge/about-us" target="_blank">About
                    Us</a> for full details</p>

                    <ul class="policy-links">
                        <li><a href="https://www.gwrt.org.uk/policies/privacy-policy#cookies" target="_blank">Cookies Policy</a></li>
                      <li> <a href="https://www.gwrt.org.uk/policies/privacy-policy" target="_blank">Privacy Policy</a></li>
                    </ul>

                    
                        <p class="">Web-App built by <a href="https://bluesquirrel.software" target="_blank">Blue Squirrel Software Ltd</a></p>
            </div>
            <div class="col-12 col-md-6">
                <p><strong> Registered Office:</strong><br> Development office, Churchward House, Winchcombe Railway
                    Station, Winchcombe, Cheltenham GL54 5LD </p>
                <p><strong>Telephone</strong>:<br> 01242 621405</p>
                <p><strong>Email:</strong><br>info@gwsr.com</p>
                <p class="text-small">Copyright 2022 - Gloucestershire Warwickshire Railway Trust</p>
              
            </div>
        </div>
    </div>
</footer>