<h1 class="text-huge">Lost Security Code</h1>
<p>Haven't got or lost your renewal security code? Enter your email address below and we will resend it to you. </p>
<p>Please note that this will only work if we have an up-to-date email addresss on record for you. If you don't then you will need contact the membership secretary</p>
<form [formGroup]="requestForm" (submit)="send()">
    <div [className]="(requestForm.controls['email'].invalid && requestForm.controls['email'].touched) ? 'has-error input input-fullWidth' : 'input input-fullWidth'">
        <input id="email"  type="text"  formControlName="email"  >
    </div>
    <p *ngIf="requestForm.controls['email'].invalid && requestForm.controls['email'].touched" class="text-error text-small">This doesn't appear to be right.</p>
    <button class="button" type="submit" [disabled]="requestForm.valid==false">Send Request</button>
    
</form>
<div *ngIf="isSent" class="notification notification--success">
<p>Your request has been sent. If we match your email address in our database, we will email the renewal invite. If you don't recieve anything within the next 24 hours, please contact the <a [routerLink]="['/contact']">membership secretary</a></p> 
</div>