<h1 class="text-huge">Renew Your Membership</h1>
<hr />
<app-security-lookup *ngIf="renewalData==null" (showLoading)="loading = true" (stopLoading)="loading = false" (onRenewalStarted)="renewalData = $event">
</app-security-lookup>
<div *ngIf="renewalData !=null">
<div class="border-bottom mb-medium">
<h2 class="text-big">Welcome {{renewalData.holderName}}</h2>
<p>
    <strong>Your Name: </strong>{{renewalData.holderName}}<br />
    <strong>Email Address: </strong>{{renewalData.contactEmailAddress}} <span *ngIf="this.renewalData.contactEmailAddress ===''">None</span><br />
    <strong>Current Membership: </strong>{{ renewalData.currentTarrifDescription }}<br>
    <strong>Expiry Date: </strong>{{ renewalData.renewalDate | date }}<br>
    <!-- <strong>Renewal Rate: </strong>{{ renewalData.baseRenewalRate | currency : 'GBP' }} -->
</p>
<p class="text-error" *ngIf="this.renewalData.contactEmailAddress ===''">We don't appear to have an email address on record. Please let the Membership Secretary know your email address in the box below. </p>
<label class="label" for="message" >If your contact details have changed recently (or that of any joint member), please tell the Membership Secretary here: </label>
<div class="textarea  textarea-fullWidth">
  <textarea id="message" [(ngModel)]="renewalDataDTO.membersComments" placeholder="Any change of address, contact phone numbers or email address" style="min-height: 70px"></textarea>
</div>
</div>

<app-tarrifs-list *ngIf="tarrifSelectedId === 0" (onTarrifSelect)="tarrifSelectedId = 1"></app-tarrifs-list>
<p *ngIf="tarrifSelectedId !== 0"><strong>Change Membership: </strong>{{ getSelectedTarrifDescription() }} <button class="button button--small" (click)="tarrifSelectedId = 0">Change</button></p>

<app-payment-methods-table *ngIf="selectedPaymentMethod===0 && tarrifSelectedId !==0" (onMethodSelected)="selectedPaymentMethod = $event" ></app-payment-methods-table>

<app-membership-declarations *ngIf="selectedPaymentMethod !==0 && tarrifSelectedId !==0" [(declarations)]="declarations"></app-membership-declarations>
<button class="button button--large" *ngIf="selectedPaymentMethod!==0" (click)="sendRenewal()">Pay and Renew</button>
</div>





<app-please-waitpopup *ngIf="loading"></app-please-waitpopup>
